.table {
    border-collapse:separate;
    border-spacing: 0 10px;
    width: 100%;
    min-width: 600px;
    margin-top: 10px;
    background-color: #ecc6c6aa;
    border-radius: 10px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.view-button
{
  height: 25px;
  width: 30px;
}

.container
{
  
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.navbar
{
  background-color:bisque;
  text-align: center;
  margin-bottom: 10px;
}
.home
{
  margin-left: 600px;
  font-weight: 500px;
  font-style: bold;
}
.idt1
{
  width:150px;
}
.td,.Actions
{
  text-align: center;
  align-items: center;
}